[submodule "docs/guides/privet"]
path = docs/guides/privet
url = git@github.com:fire1ce/privet.3os.org.git
[submodule "docs/information/portfolio"]
path = docs/information/portfolio
url = git@github.com:fire1ce/fire1ce.git
