# Project information
site_name: 3os
site_url: https://3os.org
site_author: Stas Yakobov
site_description: >-
  Collocation of technical documentation and guides for devops, developers, pentesters, systems administrators and other IT professionals.
repo_url: https://github.com/fire1ce/3os.org
repo_name: fire1ce/3os.org
edit_uri: edit/main/docs/

# Theme Configuration
theme:
  name: material
  highlightjs: true
  language: en
  font:
    false
    # text: Rubik
    # code: Rubik Mono
  icon:
    logo: material/chart-donut-variant
  favicon: assets/favicon.ico
  custom_dir: theme
  features:
    - navigation.tabs
    - navigation.top
    - navigation.indexes
    - navigation.tracking
    - navigation.sections
    - navigation.instant
    - navigation.instant.progress
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.action.edit
    - content.action.view

  palette:
    - media: '(prefers-color-scheme: light)'
      scheme: 3os
      primary: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: teal
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

# Custom theme configuration
extra_css:
  - css/extra.css
  # - css/fonts.css

# Plugins
plugins:
  - search:
      lang: 'en'
  - exclude-search:
      exclude:
        - blog.md
  - awesome-pages
  - tags:
      tags_file: tags.md
  - meta-descriptions
  - external-markdown
  - minify:
      minify_html: true
      htmlmin_opts:
        remove_comments: true
  # - ezlinks
  - progress
  - git-revision-date-localized:
      type: timeago
      enable_creation_date: true
  - social
  - git-authors:
      sort_authors_by: contribution

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/fire1ce
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/stas-yakobov
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/fire1ce
    - icon: fontawesome/brands/reddit
      link: https://www.reddit.com/user/fire1ce/

# Extensions
markdown_extensions:
  - admonition
  - sane_lists
  - attr_list
  - markdown.extensions.codehilite:
      guess_lang: false
  - def_list
  - footnotes
  - abbr
  - meta
  - md_in_html
  - tables
  - toc:
      title: On This Page
      permalink: true
      toc_depth: '3'
      separator: '-'
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.extra
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      linenums_style: pymdownx-inline
  - pymdownx.inlinehilite
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: fire1ec
      repo: 3os.org
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - pymdownx.tilde
  - meta
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format # Copyright


copyright: 'Copyright &copy; 3os.org 2022'
