Babel==2.9.1
beautifulsoup4==4.10.0
bracex==2.1.1
click==8.0.1
ghp-import==2.0.1
gitdb==4.0.7
GitPython==3.1.18
htmlmin==0.1.12
importlib-metadata==4.8.1
Jinja2==3.0.1
jsmin==2.2.2
Markdown==3.3.4
MarkupSafe==2.0.1
mergedeep==1.3.4
mkdocs==1.2.2
mkdocs-awesome-pages-plugin==2.5.0
mkdocs-encryptcontent-plugin==1.2.0
mkdocs-exclude-search==0.5.2
mkdocs-git-revision-date-localized-plugin==0.10.0
mkdocs-material==7.2.6
mkdocs-material-extensions==1.0.3
mkdocs-minify-plugin==0.4.0
packaging==21.0
pycryptodome==3.10.1
Pygments==2.10.0
pymdown-extensions==8.2
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
pyyaml_env_tag==0.1
six==1.16.0
smmap==4.0.0
soupsieve==2.2.1
watchdog==2.1.5
wcmatch==8.2
zipp==3.5.0
