 ______________________________________ 
/ You are not in a virtual environment \
\ list --format=freeze                 /
 -------------------------------------- 
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
