Babel==2.9.1
beautifulsoup4==4.10.0
bracex==2.2
click==8.0.3
csscompressor==0.9.5
ghp-import==2.0.2
gitdb==4.0.9
GitPython==3.1.24
htmlmin==0.1.12
importlib-metadata==4.8.1
Jinja2==3.0.2
jsmin==3.0.0
Markdown==3.3.4
MarkupSafe==2.0.1
mergedeep==1.3.4
mkdocs==1.2.3
mkdocs-awesome-pages-plugin==2.6.0
mkdocs-encryptcontent-plugin==1.2.2
mkdocs-exclude-search==0.5.2
mkdocs-git-revision-date-localized-plugin==0.10.0
mkdocs-material==7.3.6
mkdocs-material-extensions==1.0.3
mkdocs-minify-plugin==0.5.0
packaging==21.2
pycryptodome==3.11.0
Pygments==2.10.0
pymdown-extensions==9.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
pyyaml_env_tag==0.1
six==1.16.0
smmap==5.0.0
soupsieve==2.2.1
typing-extensions==3.10.0.2
watchdog==2.1.6
wcmatch==8.2
zipp==3.6.0
