:root > * {
  /* Code snippets main color shades and hue*/
  --md-hue: 232;
  --md-code-fg-color: hsla(var(--md-hue), 10%, 90%, 1);
  --md-code-bg-color: hsla(var(--md-hue), 10%, 10%, 1);
  /* Default snippets color shades */
  --md-default-fg-color_custom: hsla(var(--md-hue), 75%, 95%, 1);
  --md-default-fg-color_custom--light: hsla(var(--md-hue), 75%, 90%, 0.7);
  --md-default-fg-color_custom--lighter: hsla(var(--md-hue), 75%, 90%, 0.4);
  --md-default-fg-color_custom--lightest: hsla(var(--md-hue), 75%, 90%, 0.3);
  --md-default-bg-color_custom: hsla(var(--md-hue), 15%, 21%, 1);
  --md-default-bg-color_custom--light: hsla(var(--md-hue), 15%, 21%, 0.54);
  --md-default-bg-color_custom--lighter: hsla(var(--md-hue), 15%, 21%, 0.26);
  --md-default-bg-color_custom--lightest: hsla(var(--md-hue), 15%, 21%, 0.07);
  /* Code snippets highlighting color shades */
  --md-code-hl-color: hsla(#{hex2hsl($clr-blue-a200)}, 0.15);
  --md-code-hl-number-color: hsla(6, 74%, 63%, 1);
  --md-code-hl-special-color: hsla(340, 83%, 66%, 1);
  --md-code-hl-function-color: hsla(291, 57%, 65%, 1);
  --md-code-hl-constant-color: hsla(250, 62%, 70%, 1);
  --md-code-hl-keyword-color: hsla(219, 66%, 64%, 1);
  --md-code-hl-string-color: hsla(150, 58%, 44%, 1);
  --md-code-hl-name-color: var(--md-code-fg-color);
  --md-code-hl-operator-color: var(--md-default-fg-color_custom--light);
  --md-code-hl-punctuation-color: var(--md-default-fg-color_custom--light);
  --md-code-hl-comment-color: var(--md-default-fg-color_custom--light);
  --md-code-hl-generic-color: var(--md-default-fg-color_custom--light);
  --md-code-hl-variable-color: var(--md-default-fg-color_custom--light);
}
/* snippets */
.md-clipboard {
  color: hsla(var(--md-hue), 75%, 90%, 0.5); /* snippets copy button color */
  --md-accent-fg-color: rgb(
    255,
    255,
    255
  ); /* snippets copy button hover color */
}
.md-typeset code {
  border-radius: 5px; /* border-radius of the code section*/
}
.md-typeset img {
  border-radius: 5px; /* images border-radius */
}
.md-grid {
  max-width: 1420px; /* width of the middle section */
}

/* support buttons */

.donation {
  padding: 0 0.6rem;
}

.donate-button-paypal {
  width: 6rem;
  height: 2rem;
  background-image: url("/assets/images/support/paypal.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.donate-button-patreon {
  width: 6rem;
  height: 2rem;
  background-image: url("/assets/images/support/patreon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.donate-button-buymeacoffee {
  width: 6rem;
  height: 2rem;
  background-image: url("/assets/images/support/buymeacoffee.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}
