/* custom color palette */
[data-md-color-scheme='3os'] {
  --md-primary-fg-color: #006158;
  --md-typeset-a-color: #009485;
}
[data-md-color-scheme='slate'] {
  --md-primary-fg-color: #006158;
  --md-typeset-a-color: #00c5b1;
}

[data-md-color-scheme='slate'] {
  --md-hue: 215;
}
/* border-radius of the code section*/
.md-typeset code {
  border-radius: 5px;
}

/* images css */
.md-typeset img {
  border-radius: 5px;
  height: auto;
  max-width: 95%;
  margin: auto;
  display: block;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* The width of the content area */
.md-grid {
  max-width: 1560px;
}

/* ads padding side bar*/

.ads-sidebar {
  margin: auto;
  padding: 0.5rem;
}


/* support buttons */

.donation {
  padding: 0 0.6rem;
}

.donate-button-paypal {
  width: 6rem;
  height: 2rem;
  background-image: url('/assets/images/support/paypal.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  color: transparent;
}

.donate-button-patreon {
  width: 6rem;
  height: 2rem;
  background-image: url('/assets/images/support/patreon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  color: transparent;
}

.donate-button-buymeacoffee {
  width: 6rem;
  height: 2rem;
  background-image: url('/assets/images/support/buymeacoffee.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  color: transparent;
}

.donate-button-github-sponsers {
  width: 6rem;
  height: 2rem;
  background-image: url('/assets/images/support/github-sponsers.svg');
  background-color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  color: transparent;
}

/* Githubs Tables */
th,
td {
  border: 1px solid var(--md-typeset-table-color);
  border-spacing: 0;
  border-bottom: none;
  border-left: none;
  border-top: none;
}

.md-typeset__table table:not([class]) {
  border-right: none;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
  padding: 9px;
}

/* light mode alternating table bg colors */
.md-typeset__table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/* dark mode alternating table bg colors */
[data-md-color-scheme='slate'] .md-typeset__table tr:nth-child(2n) {
  background-color: hsla(var(--md-hue), 25%, 25%, 1);
}

/* Githubs Tables  end */
