{% extends "main.html" %} {% block content %} {{ super() }}

<!-- Giscus -->
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
<script type="text/javascript">
  amzn_assoc_placement = 'adunit0';
  amzn_assoc_tracking_id = '3os-20';
  amzn_assoc_ad_mode = 'search';
  amzn_assoc_ad_type = 'smart';
  amzn_assoc_marketplace = 'amazon';
  amzn_assoc_region = 'US';
  amzn_assoc_default_search_phrase = 'computer components';
  amzn_assoc_default_category = 'All';
  amzn_assoc_linkid = 'b0ca1605e3d64443dc876e3c041b5b7a';
  amzn_assoc_design = 'in_content';
  amzn_assoc_search_bar = 'false';
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>

<!-- Reload on palette change -->
<script>
  var palette = __md_get('__palette');
  if (palette && typeof palette.color === 'object')
    if (palette.color.scheme === 'slate') {
      var giscus = document.querySelector('script[src*=giscus]');
      giscus.setAttribute('data-theme', 'dark');
    }

  /* Register event handlers after documented loaded */
  document.addEventListener('DOMContentLoaded', function () {
    var ref = document.querySelector('[data-md-component=palette]');
    ref.addEventListener('change', function () {
      var palette = __md_get('__palette');
      if (palette && typeof palette.color === 'object') {
        var theme = palette.color.scheme === 'slate' ? 'dark' : 'light';

        /* Instruct Giscus to change theme */
        var frame = document.querySelector('.giscus-frame');
        frame.contentWindow.postMessage(
          {giscus: {setConfig: {theme}}},
          'https://giscus.app',
        );
      }
    });
  });
</script>
{% endblock %}
