<div data-md-component="announce">
  {% if self.announce() %}
  <aside class="md-banner">
    <div class="md-banner__inner md-grid md-typeset">
      {% block announce %}{% endblock %}
    </div>
  </aside>
  {% endif %}
</div>

<a href="https://twitter.com/squidfunk">
  For updates follow <strong>@squidfunk</strong> on
  <span class="twemoji twitter">
    {% include ".icons/fontawesome/brands/twitter.svg" %}
  </span>
  <strong>Twitter</strong>
</a>

<style>
  .md-banner {
    overflow: auto;
    color: var(--md-footer-fg-color);
    background-color: var(--md-footer-bg-color);
  }
  @media print {
    .md-banner {
      display: none;
    }
  }
  .md-banner--warning {
    color: var(--md-default-fg-color);
    background: var(--md-typeset-mark-color);
  }
  .md-banner__inner {
    margin: px2rem(12px) auto;
    padding: 0 px2rem(16px);
    font-size: px2rem(14px);
  }
</style>
